@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?b66fec7d7de8ce727accd8e7d1ebfe91") format("truetype"),
url("./flaticon.woff?b66fec7d7de8ce727accd8e7d1ebfe91") format("woff"),
url("./flaticon.woff2?b66fec7d7de8ce727accd8e7d1ebfe91") format("woff2"),
url("./flaticon.eot?b66fec7d7de8ce727accd8e7d1ebfe91#iefix") format("embedded-opentype"),
url("./flaticon.svg?b66fec7d7de8ce727accd8e7d1ebfe91#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-development:before {
    content: "\f101";
}
.flaticon-design:before {
    content: "\f102";
}
.flaticon-online-shop:before {
    content: "\f103";
}
